[Unit]
Description=Influx NATS relay
Requires=network.target
 
[Service]
EnvironmentFile=/etc/default/influx-nats-relay
ExecStart=/usr/bin/influx-nats-relay ${OPTS}
TimeoutSec=30
RestartSec=5s
Restart=always

[Install]
WantedBy=multi-user.target
