Package: influx-nats-relay
Version: 0.0.2-1wheezy
Section: misc
Priority: optional
Architecture: amd64
Maintainer: Robert McLeod <robert@penguinpower.co.nz>
Essential: no
Homepage: https://github.com/penguinpowernz/influx-nats-relay
Installed-Size: 9878
Description: An InfluxDB relay that publishes data over NATS
  An InfluxDB relay that publishes data over NATS rather than
  to an InfluxDB server.
